// Basic styles
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	min-height: calc(100vh - #{$navbar-height + 1rem});
	margin: 0;
	font-family: $font-body;
	background-color: $light;
	color: $text-color;
}

hr {
	margin: 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

a {
	color: #595fd9;
	text-decoration: none;
	transition: color 0.2s ease;
}

p {
	margin: 2rem 0 1rem;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	&.inline {
		display: inline-flex;
		flex-direction: initial;
	}

	&.meta {
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		li {
			display: flex;
			align-items: center;
			margin: 0 0 1rem;

			@media (min-width: 768px) {
				margin: 0 1.5rem 0 0;
			}

			&:last-of-type {
				margin: 0;
			}

			svg {
				width: 1.5rem;
				height: 1.5rem;
				margin: 0.125rem 0.5rem 0.5rem 0;
				fill: $dark;
				transition: fill 0.5s ease;

				@media (min-width: 992px) {
					margin: 0 0.5rem 0 0;
				}
			}
		}
	}

	&.share {
		margin-top: 0.5rem;
		flex-direction: column;

		@media (min-width: 1200px) {
			flex-direction: row;
		}

		li {
			display: flex;
			align-items: center;
			margin: 0 0 0.5rem;

			@media (min-width: 1200px) {
				margin: 0 0.5rem 0 0;
			}

			&:last-of-type {
				margin: 0;
			}

			a {
				display: flex;
				align-items: center;
			}

			svg {
				width: 1.25rem;
				height: 1.25rem;
				fill: $dark;
				transition: fill 0.5s ease;
			}
		}
	}
}

blockquote {
	font-size: 14px;
	background-color: #e6f6f3;
	color: #3c403d;
	@apply shadow-md;
	position: relative;
	margin: 2rem 0 !important;
	padding: 1.5rem 2rem 1.5rem 3rem;
	font-style: italic;
	font-weight: 500;
	font-family: 'Source Sans Pro';
	word-wrap: break-word;
	line-height: 1.2;

	a {
		font-size: 11px;
		font-family: 'Courier Prime', monospace;
		font-weight: 400;
	}

	&::before {
		position: absolute;
		left: 10px;
		top: 0px;
		content: '\201C';
		color: #03a688;
		font-size: 3.25rem;
	}

	&::after {
		position: absolute;
		right: 20px;
		bottom: -20px;
		content: '\201D';
		color: #03a688;
		font-size: 3.25rem;
	}

	span {
		display: block;
		margin: 1rem 0 0;
		font-style: normal;
		font-weight: 600;
		color: #3a656a;
	}
}

main {
	margin-top: $navbar-height + 1rem;
}

:not(pre) > code {
	padding: 0.25rem 0.375em;
	color: #2f3136;
	font-size: 85%;
	text-shadow: none;
	white-space: normal;
	background: lighten($gray, 5%);
	border-radius: $border-radius;
}

.warning {
	width: 85%;
	height: 100%;
	margin: 1em 0;
	padding: 0.25em 1em;
	background-color: #fce0dd;
	border-left: 4px solid #f26457;
	text-align: center;
	color: #f26457;
	font-size: 13px;
	font-weight: 700;
	font-family: 

	&::after {
		content: 'This article contains graphic and disturbing content. Reader discretion is advised.';
	}
}
