// Basic styles
html,
body {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	min-height: calc(100vh - #{$navbar-height + 1rem});
	margin: 0;
	font-family: $font-body;
	color: $text-color;
}
hr {
	margin: 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

a {
	color: #595fd9;
	text-decoration: none;
	transition: color 0.2s ease;
}

p {
	margin: 2rem 0 1rem;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	&.inline {
		display: inline-flex;
		flex-direction: initial;
	}

	&.meta {
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		li {
			display: flex;
			align-items: center;
			margin: 0 0 1rem;

			@media (min-width: 768px) {
				margin: 0 1.5rem 0 0;
			}

			&:last-of-type {
				margin: 0;
			}

			svg {
				width: 1.5rem;
				height: 1.5rem;
				margin: 0.125rem 0.5rem 0.5rem 0;
				fill: $dark;
				transition: fill 0.5s ease;

				@media (min-width: 992px) {
					margin: 0 0.5rem 0 0;
				}
			}
		}
	}

	&.share {
		margin-top: 0.5rem;
		flex-direction: column;

		@media (min-width: 1200px) {
			flex-direction: row;
		}

		li {
			display: flex;
			align-items: center;
			margin: 0 0 0.5rem;

			@media (min-width: 1200px) {
				margin: 0 0.5rem 0 0;
			}

			&:last-of-type {
				margin: 0;
			}

			a {
				display: flex;
				align-items: center;
			}

			svg {
				width: 1.25rem;
				height: 1.25rem;
				fill: $dark;
				transition: fill 0.5s ease;
			}
		}
	}
}

blockquote {
	@apply font-sans;
	font-size: 13px;
	background-color: #e6f6f3;
	color: #3c403d;
	@apply shadow-md;
	position: relative;
	margin: 2rem 0 !important;
	padding: 1.5rem 2rem 1.5rem 3rem;
	font-style: italic;
	font-weight: 500;
	word-wrap: break-word;
	line-height: 1.3;

	a {
		font-size: 11px;
		font-weight: 400;
	}

	&::before {
		position: absolute;
		left: 10px;
		top: 0px;
		content: '\201C';
		color: #03a688;
		font-size: 3.25rem;
		@apply font-serif;
	}

	&::after {
		position: absolute;
		right: 20px;
		bottom: -20px;
		content: '\201D';
		color: #03a688;
		font-size: 3.25rem;
		@apply font-serif;
	}

	span {
		display: block;
		margin: 1rem 0 0;
		font-style: normal;
		font-weight: 600;
		color: #3a656a;
	}
}

main {
	margin-top: $navbar-height + 1rem;
}

:not(pre) > code {
	padding: 0.25rem 0.375em;
	color: #2f3136;
	font-size: 85%;
	text-shadow: none;
	white-space: normal;
	background: lighten($gray, 5%);
	border-radius: $border-radius;
}

.warning {
	@apply font-sans;
	width: 85%;
	height: 100%;
	margin: 1em 0em;
	padding: 0.25em 1em;
	background-color: #fce0dd;
	border-left: 4px solid #f26457;
	text-align: center;
	color: #f26457;
	font-size: 12px;
	font-weight: 600;
	&::after {
		content: 'This article contains graphic and disturbing content. Reader discretion is advised.';
	}
}

.warning-es {
	@apply font-sans;
	width: 85%;
	height: 100%;
	margin: 1em 0em;
	padding: 0.25em 1em;
	background-color: #fce0dd;
	border-left: 4px solid #f26457;
	text-align: center;
	color: #f26457;
	font-size: 12px;
	font-weight: 600;
	&::after {
		content: 'Este artículo tiene un contenido gráfico e inquietante. Se aconseja la discreción del lector.';
	}
}

a.link-button {
	@apply font-sans;
	background-color: #cdcff4;
	border: 2px solid #595fd9;
	color: #595fd9 !important;
	margin: 3em 0 1em 0;
	text-decoration: none !important;
	font-weight: 600 !important;
	@apply inline-block;
	@apply shadow-lg;
	@apply rounded-md;
	@apply py-3;
	@apply px-4;
	@apply font-semibold;
	@media (min-width: 375px) {
		font-size: 16px;
		margin-left: 1em;
	}
	@media (min-width: 415px) {
		font-size: 14px;
		margin-left: 2em;
	}
	&::before {
		content: '🔗';
		margin-right: 10px;
	}
	&::after {
		content: 'Article Link';
	}
	&:hover {
		background-color: #dedff7;
	}
}
