// Koenig styles - related to single posts only
.single-post {
	font-family: 'EB Garamond', serif;
	iframe {
		margin: 2em auto;
		max-height: 400px;
		width: 100%;
	}
	.post-content ul {
		list-style: disc;
		padding-left: 10px;
	}
	line-height: 1.8;
	.kg-image {
		max-width: 100%;
		margin: 2em auto 1em auto;
	}

	.kg-width-wide {
		margin-right: -5vw;
		margin-left: -5vw;

		@media (min-width: 576px) {
			margin: 0 auto;
		}

		.kg-image {
			max-width: 85vw;
		}
	}

	.kg-width-full {
		margin-right: -5vw;
		margin-left: -5vw;

		@media (min-width: 576px) {
			margin: 0;
		}

		.kg-image {
			max-width: 100vw;
		}
	}

	hr {
		border-color: #e5e5e5;
	}

	video {
		margin: 2em auto;
		border-radius: 10px;
		height: 100%;
		width: 100%;
		max-width: 600px;
	}
	figure {
		display: block;
		margin: 0.2rem 0 1rem;
		padding: 0;
		border: 0;

		@media (min-width: 992px) {
			margin: 1.5rem 0 1.5rem;
		}

		&.kg-bookmark-card {
			width: 100%;
			background-color: $light;

			.kg-bookmark-container {
				display: flex;
				flex-direction: column;
				min-height: 148px;
				border: 1px solid rgba($gray, 0.25);
				border-radius: $border-radius;
				color: $text-color;
				text-decoration: none;
				box-shadow: $box-shadow;

				@media (min-width: 576px) {
					flex-direction: row;
				}

				.kg-bookmark-content {
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					order: 2;
					padding: 1.125rem;

					@media (min-width: 576px) {
						order: initial;
					}

					.kg-bookmark-title {
						font-size: 0.875rem;
						font-weight: 600;
						line-height: 1.5;
						transition: color 0.2s ease;

						@media (min-width: 576px) {
							font-size: 1rem;
						}
					}

					.kg-bookmark-description {
						display: flex;
						display: -webkit-box;
						max-height: 44px;
						margin: 0.75rem 0 0;
						font-size: 0.875rem;
						line-height: 1.25rem;
						overflow-y: hidden;
						word-break: break-word;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;

						@media (min-width: 576px) {
							font-size: 0.9125rem;
							line-height: 1.5;
						}
					}

					.kg-bookmark-metadata {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						margin: 0.875rem 0 0;
						font-size: 0.875rem;

						@media (min-width: 576px) {
							font-size: 0.9125rem;
							line-height: 1.5;
						}

						.kg-bookmark-publisher {
							max-width: 240px;
							line-height: 1.5;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
					}
				}
			}

			.kg-bookmark-icon {
				display: block;
				margin: 0 0.5rem 0 0;
				width: 18px;
				height: auto;

				@media (min-width: 576px) {
					width: 22px;
				}
			}

			.kg-bookmark-thumbnail {
				order: 1;
				position: relative;
				min-height: 160px;
				width: 100%;
				min-width: 33%;
				max-height: 100%;

				@media (min-width: 576px) {
					order: initial;
					min-height: initial;
					width: auto;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: $border-radius $border-radius 0 0;
					object-fit: cover;

					@media (min-width: 576px) {
						border-radius: 0 $border-radius $border-radius 0;
					}
				}
			}
		}
	}

	h1 + figure,
	h2 + figure,
	h3 + figure,
	h4 + figure {
		margin-top: 1rem;

		@media (min-width: 992px) {
			margin-top: 2rem;
		}
	}

	figcaption {
		@apply font-sans;
		margin: 0.5em auto;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5rem;
		text-align: center;
	}

	.kg-card {
		+ .kg-bookmark-card {
			margin-top: 0;
		}
	}

	.kg-gallery-card {
		margin: 2em auto;
		+ .kg-image-card.kg-width-wide,
		+ .kg-gallery-card {
			margin: 0 auto;
		}

		.kg-gallery-container {
			display: flex;
			grid-template-columns: 1fr 1fr;
			margin: 0 auto;
			padding: 0em 0.5em;

			.kg-gallery-row {
				margin: 0 auto;
				.kg-gallery-image {
					padding: 0.5em;
					&:not(:first-of-type) {
						margin: 0 0 0 0rem;
					}
					img {
						display: block;
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}
			}
		}
	}

	.kg-code-card {
		width: 100%;

		pre {
			margin: 0;
		}
	}

	.kg-image-card {
		align-self: center;
		width: 80%;
		margin: 2em auto;

		&.kg-width-wide {
			+ .kg-gallery-card,
			+ .kg-image-card.kg-width-wide {
				margin: -2rem 0 4rem;
			}
		}

		.kg-image {
			width: 100%;
			height: 100%;
			max-width: 800px;
			margin: 0 auto;
		}

		figcaption {
			@apply font-sans;
		}
	}

	.kg-embed-card {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.kg-embed-card::after {
			display: block;
			content: '';
		}

		.kg-embed-card iframe {
			position: absolute;
			display: block;
			margin: 0 auto;
		}
	}
}
