.large-barrier {
	max-width: 1000px;
	margin: 0 auto;
}
.barrier {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5em;
}
.sub-gray {
	// color: #9cacbe;
	@apply text-gray-500;
}
.ex-gray {
	// color: #677a92;
	@apply text-gray-600;
}
