.page-enter-active,
.page-leave-active {
	transition: opacity 0.2s;
	// transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
	// transition: all 0.3s ease;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}
