// Button
.button {
	display: flex;
	background-color: $light;
	font-weight: 600;
	text-decoration: none;
	outline: none;
	transition: background-color 0.2s ease;

	@include hover-state {
		background-color: darken($light, 10%);
	}

	&--blue {
		background-color: $blue;
		color: $light;

		@include hover-state {
			background-color: darken($blue, 10%);
			color: $light;
		}
	}

	&--green {
		background-color: $green;
		color: $light;

		@include hover-state {
			background-color: darken($green, 10%);
			color: $light;
		}
	}

	&--red {
		background-color: $red;
		color: $light;

		@include hover-state {
			background-color: darken($red, 10%);
			color: $light;
		}
	}

	&.tag-button {
		padding: 0.1875rem 0.9375rem;
		background-color: #f2f2f2;
		font-size: 0.75rem;
		color: #0d0d0d;
		text-transform: uppercase;

		&.tag-extras {
			box-shadow: inset 0 -10px 0 0 #f2cb05;
			border-radius: 0;

			&:hover {
				background-color: #f2cb05;
				color: #0d0d0d;
				box-shadow: inset 0 -10px 0 0 #f2f2f2;
			}
		}

		@include hover-state {
			background-color: lighten(#a9a9a9, 10%);

			color: $light;
		}
	}
}
